
img{
    width: 250px;
    height: 250px;
    margin: 40%;
}
.space {
    margin-left: 33%;
    margin-top: 10px;
    width: 50%;
    height: 100px;
    text-align: justify;
}
.magazines {
    width: 70%;
    margin-left: 9.3%;
}
p {
         color: white;
         font-family: Dialog;
     }