
img{
    width: 250px;
    height: 250px;
    margin: 30px;
}
.space {
    margin-left: 40%;

    margin-top: 10px;
    width: 50%;
    height: 100px;
    text-align: justify;
}
.row {
    margin-right: 50%;
}
.bar {
    margin: 0 auto;
    width: 95%;
}
.magazines {
    width: 80%;
}