img{
    width: 250px;
    height: 250px;
    margin: 30px;
}

.darkBg {
    background: #999;
    height: 500px;
    margin-top: 300px;

}
.space {
    margin: auto;
    margin-top: 10px;
    width: 50%;
    height: 100px;
    text-align: justify;
}
.row {
   padding-right: 50px;
}

.bar {
    margin: 0 auto;
    width: 90%;
}