/* pro */

body {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #1f1f1f;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Architects Daughter', cursive;
}

h3 {
    text-align: center;
    display: inline;
    color: white;
    font-family: 'Architects Daughter', cursive;
}

h4 {
    text-align: center;
    display: inline;
    color: white;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #000000;
    font-family: 'Architects Daughter', cursive;
}

@h3 {
    color: white;
}
@media (max-width: 1000px) {
    img {: width 50 px;
    }
}
#probody {
    background-color: #171717;
}

#2018 {
    color: white;

}

/*.barPro {*/
/*margin-left: 9.7%;*/
/*width: 61.7%;*/
/*}*/
/*.bar {*/
/*margin-left: 9.7%;*/
/*width: 61.7%;*/
/*}*/
.bar {
    width: 61.7%;
    height: 110px;
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
}

.proStyle{
    font-family: 'Architects Daughter', cursive;
}
.proContainer {
    width: 1800px;
    margin-left: 14.5%;
    margin-top: 125px;
}
.logos{
    height: 135px;
    width: 135px;
    margin-top: -34px;
    padding-top: 10px;
}
.logo2{
    height: 135px;
    width: 135px;
    margin-top: -34px;
    padding-top: 10px;
}
.top {
    background-color: black;
    height: 310px;
    width: 65%;
    margin-left: 5%;
    border-radius: 1%;
}
#top1{
    width: 90%;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.bottom {
    background-color: silver;
    height: 310px;
    width: 65%;
    margin-left: 5%;
    border-radius: 1%;
}
#bottom1 {
    width: 90%;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.section {
    float: left;
    margin-left: 50px;
    color: blue;
    font-family: cursive;
    padding: 2px;
    margin-top: 2px;
    width: 400%;
}
img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 230px;
    height: 230px;
    border-radius: 20%;
}
.star {
    margin: 0 auto;
}
.star2 {
    margin: auto;
}
.tv {
    margin-top: -260px;
    margin-left: 100%;
}


/* portfolio */
.container {
    background-color: #121212;
    width: 61.5%;
    margin-top: 120px;
}

.container2 {
    background-color: #121212;
    width: 61.5%;
    margin-top: 30px;
    margin: auto;
}
.parallax {
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgone {
    background-image: url(images/metals.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.rgb {
    background-color: rgba(46, 46, 46, 0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 100px;
    color: #fafafa;
    font-family: 'Architects Daughter', cursive;
}

.rgb2 {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;
    color: #000000;
    font-family: 'Architects Daughter', cursive;
}

.whitesection {
    background-color: #080808;
    min-height: 100px;
    width: 100%;
}
.content {
    background-color: rbga(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 20px;
}
.left {
    text-align: center;
}
.space {
    margin: auto;
    margin-top: 70px;
    width: 70%;
    /*height: 100px;*/
    text-align: justify;
    font-family: 'Bad Script', cursive;
    color: white;
}
.magazines{
    margin-top: 10px;
    padding-bottom: 35px;
    padding-right: 50px;
}

.port {
    padding-left: 7%;
    padding-right: 7%;
}

/* live trades */
.imglive{
    background-image: url('images/chicagosky 2.jpg');
    width: 100%;
    height: 600px;
    border-radius: 5px;
    background-size: cover;
}

.imglive2 {
    background-image: url('images/newyc.jpg');
    width: 100%;
    height: 600px;
    border-radius: 5px;
}
.modal-header{
    background-color: black;
    color: white;
}
#myModal1 {
    background-image: url('images/newyorker.jpg');
    background: no-repeat;
    color: black;
    border-radius: 5px;
}
#myModal2 {
    background-image: url('images/newyorker.jpg');
    background: no-repeat;
    color: black;
    border-radius: 5px;
}

.modalGreen {
    color: purple;
}

.modalBlue {
    color: blue;
}
.btn1{
    color: purple;
}
.btn2 {
    color: blue;
}
.trades {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: larger;
}

.tradetext {
    font-family: 'Open Sans Condensed', sans-serif;
}

.transactions {
    margin-top: 150px;
}

.modalChart {
    background-image: url('images/modalChart.png');
    padding-top: 100px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
}

/* research center */
#calculator {
    text-align: center;
    margin-top: 5%;
    background-image: url('images/silver.jpg');
    background: no-repeat;
}
#calendar {
    text-align: center;
    margin-top: 7%;
}
#quotes1 {
    text-align: center;
    margin-top: 8%;
}
#quotes2 {
    text-align: center;
    margin-top: 1%;
}

/* accounts*/

.imgaccounts {
    background-image: url(images/acct.png);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.imgretires {
    background-image: url(images/retires.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.imgedu {
    background-image: url(images/edu.png);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.imgportfolio {
    background-image: url(images/portfolio.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.imgportfolio {
    background-image: url(images/trustee.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.imgroth {
    background-image: url(images/rothbox.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

/* dictionary */

#container3 {
    width: 85%;
    margin: auto;
}
.dictionaryLeft{
    float: left;
        text-align: justify;
}
.dictionaryRight {
    float: left;
    padding-top: 55px;
    text-align: justify;
}
.dictionary {
    margin: 5% 13%;
    padding-top: 2px;
}
#dictionary{
    margin-left:4%;
    margin-bottom: 6%;
    padding-top: 1px;
    color: white;
}
.classA{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classB{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classC{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}
.classD{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classE{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classF{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}
.classG{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classH{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classI{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}
.classI2{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classL{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classM{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}
.classN{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classO{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classP{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}
.classR{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classS{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classT{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}
.classU{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classV{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classW{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}

/* tutorials */
.imgstocks {
    background-image: url(images/stoxdiv.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgorders {
    background-image: url(images/orders.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgchart{
    background-image: url(images/charting.jpeg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgfinancials{
    background-image: url(images/financials.jpeg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgoptions {
    background-image: url(images/miami3.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
#rgb {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;
}
#rgb2 {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;
    color: white;
}
.imgtwo {
    background-image: url(images/miami3.jpg);
    width: 100%;
    height: auto;
    margin-top: 400px;
    border-radius: 5px;
}
.space {
    color: #000000;
}
#tuts {
    margin-top: 75px;
}


/* financial planning */
#financialPlanning {
    margin-left: 35%;
}
.imgmkt{
    background-image: url("images/markets.jpg");
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgthree {
    background-image: url(images/future.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgfour {
    background-image: url(images/credit.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgfive {
    background-image: url(images/financial-planning.gif);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgsix {
    background-image: url(images/education2.jpeg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgseven {
    background-image: url(images/budget.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgeight {
    background-image: url(images/realestate.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgtax {
    background-image: url(images/tax.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.imgcode {
    background-image: url(images/code.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

#signIn {
    margin-left: 40%;
    margin-top: 5%;
}
.vids {
    width: 350px;
    height: 250px;
}


/* resume */
#resumeimg{
    background-image: url('images/chicago.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btn {
    margin: 20px;
    padding: 20px;
}
.resumes {
    margin-top: 19%;
    margin-left: 42%;
}

.myresume {
    padding-top: 50%;
    margin: 0 auto;
}

/* FAQs*/
.faqs {
    background-image: url(images/faqs.jpg);
    background-size: cover;
    height: 200px;
}

#footer {
    margin-top: 100px;
    margin-bottom: 10px;
    color: white;
    background-image: url(images/slc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding-left: 2%;
}

/*sign up*/
#signUp {
    text-align: center;
    margin-top: 100px;
}

.spacer {
    margin-top: 50px;
}

/*contact us*/

#contactUs {
    margin-left: 38%;
    margin-top: 5%;
    color: white;
}

.btnSubmit{
    margin-left: 100%;
    padding-top: 10%;
}
#myBtnLogin{
    margin-left: 45%;
}
#social{
    margin-left: 9%;
}
