
body {
    padding-left : 1%;
    padding-right: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
.top {
    background-color: black;
    height: 310px;
    width: 65%;
    margin-left: 5%;
    border-radius: 1%;
}
#top1{
    width: 90%;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.bottom {
    background-color: silver;
    height: 310px;
    width: 65%;
    margin-left: 5%;
    border-radius: 1%;
}
#bottom1 {
    width: 90%;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.section {
    float: left;
    margin-left: 50px;
    color: blue;
    font-family: cursive;
    padding: 2px;
    margin-top: 2px;
    width: 400%;
    }

img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 230px;
    height: 230px;
    padding: 20px;
    border-radius: 20%;
}

.btn {
    margin: 20px;
    padding: 20px;
}

.star {
    margin: 0 auto;
}
.star2 {
    margin: auto;
}

.star3 {
    margin-top: -260px;
    margin-left: 100%;


}
.colorBlack {
    color: black;
}

.colorSilver {
    color: #999999;
}

@media (max-width: 1000px) {
    img {: width 50 px;
    }
}

.bar {
    width: 75%;
    margin: 0 auto;
    color: navy;
}

#liveTrader {
    margin-left: 35%;
}

#signUp {
    margin-left: 30%;
}

.mycontainer {
    margin-top: 10%;
    margin-left: 40%;
}
.proContainer {
    margin-left: 5%;
}
#inputz {
    width: 50%;
    padding-top: 5%;
    margin: 0 auto;
}
#contactUs {
    margin-left: 38%;
    margin-top: 5%;
}

.barPro {
    margin-left: 9.7%;
    width: 61.7%;
}
#comments{
    width: 307%;
    border-radius: 2%;
}
.btnSubmit{
    margin-left: 100%;
    padding-top: 10%;
}
 /* .dictionary{
   -ms-text-justify:;
     margin-left: 20%;
     margin-right: 20%
} */
.dictionaryLeft{
    float: left;
    background-color: lightgray;
    text-align: justify;
}
.dictionaryRight {
    float: left;
    padding-top: 15px;
    background-color: gainsboro;
    text-align: justify;
}
.dictionary {
    margin: 5% 13%;
}
.barLearn {
    background-color: darkgray;
    width: 75%;
    margin: 0 auto;
}

#financialPlanning {
    margin-left: 35%;
}

.barPlanning {
    background-color: darkgray;
    width: 75%;
    margin: 0 auto;
}
#signIn {
    margin-left: 40%;
    margin-top: 5%;
}
.modal-header{
    background-color: black;
    color: white;
}
#myModal {
    background-color: dimgrey;
    color: black;
}
.btnTrades {
    background-color: navy
}