/* pro */
body {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #202020;
}
#probody {
    background-color: #171717;

}
.barPro {
    margin-left: 9.7%;
    width: 61.7%;
}
.bar {
    width: 61.7%;
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
}

.proStyle{
    font-family: 'Architects Daughter', cursive;
}
.proContainer {
    margin-left: 5%;
    margin-top: 125px;
}
.logos{
    height: 135px;
    width: 135px;
    margin-top: -47px;
    padding-top: 25px;
}
.logo2{
    height: 70px;
    width: 70px;
    margin-top: -30px;
    padding-top: 10px;
}
.top {
    background-color: black;
    height: 310px;
    width: 65%;
    margin-left: 5%;
    border-radius: 1%;
}
#top1{
    width: 90%;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.bottom {
    background-color: silver;
    height: 310px;
    width: 65%;
    margin-left: 5%;
    border-radius: 1%;
}
#bottom1 {
    width: 90%;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.section {
    float: left;
    margin-left: 50px;
    color: blue;
    font-family: cursive;
    padding: 2px;
    margin-top: 2px;
    width: 400%;
    }

img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 230px;
    height: 230px;
    /*padding: 20px;*/
    border-radius: 20%;
}
.star {
    margin: 0 auto;
}
.star2 {
    margin: auto;
}

.tv {
    margin-top: -260px;
    margin-left: 100%;
}



/* portfolio */




.parallax {
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgone {
    background-image: url(images/metals.jpg);
    width: 100%;
    height: auto;
}
.rgb {
    background-color: rgba(46, 46, 46, 0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 100px;
    color: #fafafa;
    font-family: 'Architects Daughter', cursive;
}

.rgb2 {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;
    color: #000000;
    font-family: 'Architects Daughter', cursive;
}

.whitesection {
    background-color: #080808;
    min-height: 600px;
    width: 100%;
}
.content {
    background-color: rbga(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 20px;
}
.left {
    text-align: center;
}
h2 {
    text-align: center;
    color: white;
    font-family: 'Architects Daughter', cursive;
}
.space {
    color: #fafafa;
    margin: auto;
    margin-top: 70px;
    width: 50%;
    height: 100px;
    text-align: justify;
    font-family: 'Bad Script', cursive;
}
p{
    color: #000;
    }
.magazines{
    margin-top: 75px;
    padding-bottom: 25px;
    padding-right: 50px;
}

/* live trades */


.imglive{
    background-image: url('images/chicago1.jpg');
}

.modal-header{
    background-color: black;
    color: white;
}
#myModal1 {
    background-image: url('images/chicago1.jpg');
    background: no-repeat;
    color: black;
}
#myModal2 {
    background-image: url('images/chicago1.jpg');
    background: no-repeat;
    color: black;
}
.btn1{
    color: green;
}
.trades {
    color: white;
    font-family: "Apple Chancery";
    font-size: larger;
}

/* research center */

#calculator {
    margin-left: 20%;
    margin-top: 5%;
    background-image: url('images/silver.jpg');
    background: no-repeat;
}

#calendar {
    margin-left: 25%;
    margin-top: 7%;
}
#quotes1 {
    margin-left: 28.5%;
    margin-top: 3%;
}
#quotes2 {
    margin-left: 27%;
    margin-top: 1%;
}


/* dictionary */

#container2{
       background-image:  url('images/chicago.jpg');
    width: 70%;
    margin: auto;
}
/*#dicImage {*/
    /*background-image: url('images/chicago.jpg');*/
    /*background: fixed;*/
    /*background-size: cover;*/
/*}*/
/*html {*/
    /*background: no-repeat;*/
    /*!**!*/
    /*background-attachment: fixed;*/
    /*background-size: cover*/
/*}*/
/*#dic {*/
    /*background-image: url('images/chicago.jpg');*/


.dictionaryLeft{
    float: left;
        text-align: justify;
}
.dictionaryRight {
    float: left;
    padding-top: 15px;
    text-align: justify;
}
.dictionary {
    margin: 5% 13%;
    padding-top: 2px;
}
#dictionary{
    margin-left:4%;
    margin-bottom: 6%;
    padding-top: 1px;
    color: white;
}
.classA{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classB{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classC{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classD{
    background-color: gainsboro;
    padding: 5%;
    border-radius: 10px;
}
.classE{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classF{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classG{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classH{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classI{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classI2{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classL{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classM{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classN{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classO{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classP{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classR{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classS{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classT{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classU{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classV{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classW{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}


/* tutorials */


.container{
    background-color: #121212;
    width: 61.5%;

}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgstocks {
    background-image: url(images/glober.jpg);
    width: 100%;
    height: 500px;
}
.imgorders {
    background-image: url(images/orders.jpg);
    width: 100%;
    height: 500px;
}
.imgchart{
    background-image: url(images/charting.jpeg);
    /*background-repeat: no-repeat;*/
    width: 100%;
    height: 500px;
}
.imgfinancials{
    background-image: url(images/financials.jpeg);

    width: 100%;
    height: 500px;
}
.imgoptions {
    background-image: url(images/miami3.jpg);
    width: 100%;
    height: 500px;
}
#rgb {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;
}
#rgb2 {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;
    color: white;
}
.imgtwo {
    background-image: url(images/miami3.jpg);
    width: 100%;
    height: auto;
    margin-top: 400px;
}
.stockcontent {
    background-color: rbga(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffffff;
    padding-top: 60px;
}
h1 {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}
h3 {
    text-align: center;
    display: inline;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}

h4 {
    text-align: center;
    display: inline;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}
.space {
    color: #000000;
}
p{
    color: #000000;
    font-family: 'Architects Daughter', cursive;
}



/* financial planning */

#financialPlanning {
    margin-left: 35%;
}

.imgmkt{
    background-image: url("images/markets.jpeg");
    width: 100%;
    height: 500px;
}
.imgthree {
    background-image: url(images/tixx.jpg);
    width: 100%;
    height: 500px;
}
.imgfour {
    background-image: url(images/credit.jpg);
    width: 100%;
    height: 500px;
}
.imgfive {
    background-image: url(images/financial-planning.gif);
    width: 100%;
    height: 500px;
}
.imgsix {
    background-image: url(images/education2.jpeg);
    width: 100%;
    height: 500px;
}
.imgseven {
    background-image: url(images/budget.jpg);
    width: 100%;
    height: 500px;
}
.imgeight {
    background-image: url(images/realestate.jpg);
    width: 100%;
    height: 500px;
}
.imgtax {
    background-image: url(images/tax.jpg);
    width: 100%;
    height: 500px;
}

.imgcode {
    background-image: url(images/code.jpg);
    width: 100%;
    height: 500px;
}

#signIn {
    margin-left: 40%;
    margin-top: 5%;
}
.vids {
    width: 350px;
    height: 250px;
}


/* resume */

#resumeimg{
    background-image: url('images/chicago.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover">
}

.btn {
    margin: 20px;
    padding: 20px;
}
.resumes {
    margin-top: 19%;
    margin-left: 42%;
}

.myresume {
    padding-top: 50%;
    margin: 0 auto;
}

/*sign up*/

#signUp {
    margin-left: 30%;
}



#inputz {
    width: 50%;
    padding-top: 5%;
    margin: 0 auto;
}
/*contact us*/

#contactUs {
    margin-left: 38%;
    margin-top: 5%;
}

.btnSubmit{
    margin-left: 100%;
    padding-top: 10%;
}



#myBtnLogin{
    margin-left: 45%;
}

#social{
    margin-left: 9%;
}
@h3 {
    color: white;
}


@media (max-width: 1000px) {
    img {: width 50 px;
    }
}