/* pro */

#probody {
    background-color: #171717;

}
.proContainer {
    margin-left: 5%;
}
.top {
    background-color: black;
    height: 310px;
    width: 65%;
    margin-left: 5%;
    border-radius: 1%;
}
#top1{
    width: 90%;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.bottom {
    background-color: silver;
    height: 310px;
    width: 65%;
    margin-left: 5%;
    border-radius: 1%;
}
#bottom1 {
    width: 90%;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.section {
    float: left;
    margin-left: 50px;
    color: blue;
    font-family: cursive;
    padding: 2px;
    margin-top: 2px;
    width: 400%;
    }

img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 230px;
    height: 230px;
    padding: 20px;
    border-radius: 20%;
}
.star {
    margin: 0 auto;
}
.star2 {
    margin: auto;
}

.star3 {
    margin-top: -260px;
    margin-left: 100%;
}
.colorBlack {
    color: black;
}

.colorSilver {
    color: #999999;
}



/* portfolio */

.barPortfolio{
    width: 75%;
    margin: 0 auto;
    background-color: black;
}
body {
    margin: 0;
    width: 100%;
    height: auto;
    color: #1e1e1e;
}

/*.whitesection2{*/
    /*background-color: #e6e6e6;*/
/*}*/

.container2{
    background-color: #ffffff;
}
.parallax {
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgone {
    background-image: url(images/metals.jpg);
    width: 100%;
    height: auto;
}
#rgb {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;

}
#rgb2 {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;

}

.whitesection {
    background-color: #080808;
    min-height: 500px;
    width: 100%;
}
.content {
    background-color: rbga(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    text-align: center;
    color: #171717;
    padding-top: 20px;
}
.left {
    text-align: center;
}
h2 {
    text-align: center;
    color: white;
    font-family: 'Architects Daughter', cursive;
}
.space {
    color: #000000;
    margin-left: 33%;
    margin-top: 10px;
    width: 50%;
    height: 100px;
    text-align: justify;
    font-family: 'Bad Script', cursive;
}
p{
    color: #000;
    }


/* live trades */

.modal-header{
    background-color: black;
    color: white;
}
#myModal1 {
    background-image: url('images/chicago1.jpg');
    background: no-repeat;
    color: black;
}
#myModal2 {
    background-image: url('images/chicago1.jpg');
    background: no-repeat;
    color: black;
}
.btn1{
    color: green;
}


/* research center */

#calculator {
    margin-left: 20%;
    margin-top: 5%;
    background-image: url('images/silver.jpg');
    background: no-repeat;
}

#calendar {
    margin-left: 25%;
    margin-top: 7%;
}
#quotes1 {
    margin-left: 28.5%;
    margin-top: 3%;
}
#quotes2 {
    margin-left: 27%;
    margin-top: 1%;
}

.bar {
    width: 75%;
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
      }

#liveTrader {
    margin-left: 35%;
    color: white;
    font-family: "Apple Chancery";
}



/* learning center */

.barLearn {
    background-color: darkgray;
    width: 75%;
    margin: 0 auto;
}


/* dictionary */

#dictionary{
    background: no-repeat;
    background-image: url('images/chicago.jpg');

    background-attachment: fixed;
    background-size: cover
}
.dictionaryLeft{
    float: left;
        text-align: justify;
}
.dictionaryRight {
    float: left;
    padding-top: 15px;
    text-align: justify;
}
.dictionary {
    margin: 5% 13%;
    padding-top: 2px;
}
#dictionary{
    margin-left:4%;
    margin-bottom: 6%;
    padding-top: 1px;
    color: white;
}
.classA{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classB{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classC{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classD{
    background-color: gainsboro;
    padding: 5%;
    border-radius: 10px;
}
.classE{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classF{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classG{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classH{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classI{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classI2{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classL{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classM{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classN{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classO{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classP{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classR{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classS{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classT{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classU{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classV{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classW{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}


/* tutorials */

.barPortfolio{
    width: 75%;
    margin: 0 auto;
    background-color: black;
}
.container{
    background-color: #121212;
}
body {
    margin: 0;
    width: 0;
    width: 100%;
    height: auto;
    background-color: #eaeaea;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.innerParent1{
    height: 200px;
}
.imgstocks {
    background-image: url(images/stox.jpg);
    width: 100%;
    height: 500px;
}
.imgorders {
    background-image: url(images/orders.jpg);
    width: 100%;
    height: 500px;
}
.imgchart{
    background-image: url(images/charting.jpeg);
    /*background-repeat: no-repeat;*/
    width: 100%;
    height: 500px;
}
.imgfinancials{
    background-image: url(images/financials.jpeg);

    width: 100%;
    height: 500px;
}
.imgoptions {
    background-image: url(images/miami3.jpg);
    width: 100%;
    height: 500px;
}
#rgb {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;

}
#rgb2 {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;

}
.imgtwo {
    background-image: url(images/miami3.jpg);
    width: 100%;
    height: auto;
    margin-top: 400px;
}
.whitesection {
    background-color: #1e1e1e;
    min-height: 500px;
    width: 100%;
}
.content {
    background-color: rbga(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    text-align: center;
    color: #171717;
    padding-top: 20px;
}
h1 {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}
h4 {
    text-align: center;
    display: inline;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}
.space {
    color: #000000;
}
p{
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}



/* financial planning */

#financialPlanning {
    margin-left: 35%;
}

.barPlanning {
    background-color: darkgray;
    width: 75%;
    margin: 0 auto;
}
.imgthree {
    background-image: url(images/financial_planning.jpg);
    width: 100%;
    height: 500px;
}
.imgfour {
    background-image: url(images/financial-planning.gif);
    width: 100%;
    height: 500px;
}
.imgfive {
    background-image: url(images/budget.jpg);
    width: 100%;
    height: 500px;
}




#signIn {
    margin-left: 40%;
    margin-top: 5%;
}



/* resume */
.btn {
    margin: 20px;
    padding: 20px;
}
.resumes {
    margin-top: 19%;
    margin-left: 42%;
}

.myresume {
    padding-top: 50%;
    margin: 0 auto;
}

/*sign up*/

#signUp {
    margin-left: 30%;
}



#inputz {
    width: 50%;
    padding-top: 5%;
    margin: 0 auto;
}
/*contact us*/

#contactUs {
    margin-left: 38%;
    margin-top: 5%;
}

.barPro {
    margin-left: 9.7%;
    width: 61.7%;
    /*font-family: 'Architects Daughter', cursive;*/
}
.proStyle{
    font-family: 'Architects Daughter', cursive;
}

#comments{
    width: 307%;
    border-radius: 2%;
}
.btnSubmit{
    margin-left: 100%;
    padding-top: 10%;
}



#myBtnLogin{
    margin-left: 45%;
}

#social{
    margin-left: 9%;
}
@h3 {
    color: white;
}
.words {
    color: white;
    font-family: "Apple Chancery";
    font-size: larger;
}

@media (max-width: 1000px) {
    img {: width 50 px;
    }
}