
body {
    padding-left : 1%;
    padding-right: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
.top {
    background-color: black;
    height: 310px;
    width: 65%;
    margin-left: 5%;
    border-radius: 1%;
}
#top1{
    width: 90%;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.bottom {
    background-color: silver;
    height: 310px;
    width: 65%;
    margin-left: 5%;
    border-radius: 1%;
}
#bottom1 {
    width: 90%;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.section {
    float: left;
    margin-left: 50px;
    color: blue;
    font-family: cursive;
    padding: 2px;
    margin-top: 2px;
    width: 400%;
    }

img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 230px;
    height: 230px;
    padding: 20px;
    border-radius: 20%;
}

.btn {
    margin: 20px;
    padding: 20px;
}

.star {
    margin: 0 auto;
}
.star2 {
    margin: auto;
}

.star3 {
    margin-top: -260px;
    margin-left: 100%;


}
.colorBlack {
    color: black;
}

.colorSilver {
    color: #999999;
}

@media (max-width: 1000px) {
    img {: width 50 px;
    }
}
#calculator {
    margin-left: 20%;
    margin-top: 5%;
}

#calendar {
    margin-left: 25%;
    margin-top: 7%;
}
#quotes1 {
    margin-left: 28.5%;
    margin-top: 3%;
}
#quotes2 {
    margin-left: 27%;
    margin-top: 1%;
}

.bar {
    width: 75%;
    margin: 0 auto;
    color: navy;
}

#liveTrader {
    margin-left: 35%;
}

#signUp {
    margin-left: 30%;
}

.mycontainer {
    margin-top: 10%;
    margin-left: 40%;
}
.proContainer {
    margin-left: 5%;
}
#inputz {
    width: 50%;
    padding-top: 5%;
    margin: 0 auto;
}
#contactUs {
    margin-left: 38%;
    margin-top: 5%;
}

.barPro {
    margin-left: 9.7%;
    width: 61.7%;
}
#comments{
    width: 307%;
    border-radius: 2%;
}
.btnSubmit{
    margin-left: 100%;
    padding-top: 10%;
}
 /* .dictionary{
   -ms-text-justify:;
     margin-left: 20%;
     margin-right: 20%
} */
.dictionaryLeft{
    float: left;
        text-align: justify;
}
.dictionaryRight {
    float: left;
    padding-top: 15px;
 /* background-color: gainsboro; */
    text-align: justify;
}
.dictionary {
    margin: 5% 13%;
    padding-top: 2px;
}
#dictionary{
    margin-left: 40%;
    padding-top: 1px;
}
.barLearn {
    background-color: darkgray;
    width: 75%;
    margin: 0 auto;
}

#financialPlanning {
    margin-left: 35%;
}

.barPlanning {
    background-color: darkgray;
    width: 75%;
    margin: 0 auto;
}
#signIn {
    margin-left: 40%;
    margin-top: 5%;
}
.modal-header{
    background-color: black;
    color: white;
}
#myModal1 {
    background-color: dimgray;
    color: black;
}
#myModal2 {
    background-color: dimgray;
    color: black;
}
.btn1{
    color: green;
}

.classA{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classB{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classC{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classD{
    background-color: gainsboro;
    padding: 5%;
    border-radius: 10px;
}
.classE{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classF{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classG{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classH{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classI{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classI2{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classL{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classM{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classN{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classO{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classP{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classR{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classS{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classT{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}
.classU{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classV{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classW{
    background-color: #db62c4;
    padding: 5%;
    border-radius: 10px;
}


#myBtnLogin{
    margin-left: 45%;
}

#social{
    margin-left: 9%;
}