
body {
    padding-left : 10px;
    padding-right: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
.top {
    background-color: black;
    height: 310px;
    width: 60%;
    float: left;
    margin: auto;
    border-radius: 1%;
}
#top1{

    width: 100%;
    padding-top: 55px;
    margin: auto;
}
.bottom {
    background-color: silver;
    height: 310px;
    width: 60%;
    float: left;
    margin: auto;
    border-radius: 1%;
}
#bottom1 {
    width: 100%;
    padding-top: 150px;
    margin: auto;
}
.section {
    float: left;
    margin-left: 50px;
    color: blue;
    font-family: cursive;
    padding: 2px;
    margin-top: 2px;
    width: 400%;
    }

img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 230px;
    height: 230px;
    padding: 20px;
    border-radius: 20%;
}

.btn {
    margin: 20px;
    padding: 20px;
}

.h2{
    text-align: center;
}

.star {
    margin: 0 auto;
}
.star2 {
    margin: auto;
}

.star3 {
    margin-top: -340px;

}
.colorBlack {
    color: black;
}

.colorSilver {
    color: #999999;
}

@media (max-width: 1000px) {
    img {: width 50 px;
    }
}

.bar {
    width: 60%;
}

.liveTrades {
    margin: 0 auto;
}