/* pro */

body {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #1f1f1f;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Architects Daughter', cursive;
}

h3 {
    text-align: center;
    display: inline;
    color: white;
    font-family: 'Architects Daughter', cursive;
}

h4 {
    text-align: center;
    display: inline;
    color: white;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #000000;
    font-family: 'Architects Daughter', cursive;
}

@h3 {
    color: white;
}
@media (max-width: 1000px) {
    img {: width 50 px;
    }
}
#probody {
    background-color: #171717;
}

#2018 {
    color: white;
}

#footerPro {
    width: 61%;
    height: 15px;
    margin: 0 auto;
    margin-top: 15%;
    color: white;
    background-color: #1c1c1c;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: right;
    text-shadow: 2px 2px 4px silver;
}
.bar {
    width: 61.7%;
    height: 110px;
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
}
.proStyle{
    font-family: 'Architects Daughter', cursive;
}
.proContainer {
    width: 1800px;
    margin-left: 14.5%;
    margin-top: 125px;
}
.logos{
    height: 135px;
    width: 135px;
    margin-top: -34px;
    padding-top: 10px;

}

.logoss {
    height: 235px;
    width: 235px;
    margin-top: -85px;
    padding-top: 10px;
    margin-left: 45px;
}

#logo3 {
    background-image: url(images/Versions/logo3.png);
    height: 160px;
    width: 160px;
    margin-top: -20px;
    margin-left: 100%;
}
.top {
    background-color: black;
    height: 310px;
    width: 65%;
    margin-left: 5%;
    border-radius: 1%;
}
#top1{
    width: 90%;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.bottom {
    background-color: silver;
    height: 310px;
    width: 65%;
    margin-left: 5%;
    border-radius: 1%;
}
#bottom1 {
    width: 90%;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.section {
    float: left;
    margin-left: 50px;
    color: blue;
    font-family: cursive;
    padding: 2px;
    margin-top: 2px;
    width: 400%;
}
img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 230px;
    height: 230px;
    border-radius: 20%;
    box-shadow: 10px 10px;
}

.img2 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 230px;
    height: 230px;
    border-radius: 20%;
    box-shadow: 10px 10px #878787;
}
.star {
    margin: 0 auto;
}
.star2 {
    margin: 0 auto;
}
.tv {
    margin-top: -260px;
    margin-left: 100%;
}


/* portfolio */
.container {
    background-color: #121212;
    width: 61.5%;
    margin-top: 120px;
}

.container2 {
    background-color: #121212;
    width: 61.5%;
    margin: 0 auto;
    margin-top: 30px;
}
.parallax {
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgone {
    background-image: url(images/metals.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.rgb {
    background-color: rgba(46, 46, 46, 0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 100px;
    color: #fafafa;
    font-family: 'Architects Daughter', cursive;
    text-shadow: 2px 2px 4px #000000;
}

.rgb2 {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;
    color: #000000;
    font-family: 'Architects Daughter', cursive;
    text-shadow: 2px 2px 4px #000000;
}

.whitesection {
    background-color: #080808;
    min-height: 100px;
    width: 100%;
}
.content {
    background-color: rbga(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 20px;
}
.left {
    text-align: center;
}
.space {
    margin: 0 auto;
    margin-top: 70px;
    width: 70%;
    /*height: 100px;*/
    text-align: justify;
    font-family: 'Bad Script', cursive;
    color: white;
}
.magazines{
    margin-top: 10px;
    padding-bottom: 35px;
    padding-right: 50px;
}

.port {
    padding-left: 7%;
    padding-right: 7%;
    color: white;
}

/* live trades */

.metrics {
    height: 100px;
    color: white;
}

* {
    box-sizing: border-box
}

.container {
    width: 61.5%;
    background-color: black;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
}

.live {
    color: white;
}

.pro {
    width: 90%;
    background-color: #4CAF50;
}

.dow {
    width: 80%;
    background-color: #2196F3;
}

.sp {
    width: 65%;
    background-color: #f44336;
}

.nasdaq {
    width: 60%;
    background-color: #808080;
}
.hr {
    color: white;
}
.imglive{
    background-image: url('images/chicago1.jpg');
    width: 100%;
    height: 600px;
    border-radius: 5px;
    background-size: cover;
}

.imglive2 {
    background-image: url('images/newyc.jpg');
    width: 100%;
    height: 600px;
    border-radius: 5px;
}
.modal-header{
    background-color: black;
    color: white;
}
#myModal1 {
    background-image: url('images/newyc.jpg');
    background: no-repeat;
    color: black;
    border-radius: 5px;
}
#myModal2 {
    background-image: url('images/newyc.jpg');
    background: no-repeat;
    color: black;
    border-radius: 5px;
}

.modalGreen {
    color: purple;
}

.modalBlue {
    color: blue;
}
.btn1{
    color: purple;
}
.btn2 {
    color: blue;
}
.trades {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: larger;
}

.tradetext {
    font-family: 'Open Sans Condensed', sans-serif;
}

.transactions {
    margin-top: 150px;
}

.modalChart {
    background-image: url('images/modalChart.png');
    padding-top: 100px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
}

/* research center */
#calculator {
    text-align: center;
    margin-top: 5%;
    background-image: url('images/silver.jpg');
    background: no-repeat;
}
#calendar {
    text-align: center;
    margin-top: 7%;
}
#quotes1 {
    text-align: center;
    margin-top: 8%;
}
#quotes2 {
    text-align: center;
    margin-top: 1%;
}

/* accounts*/

.imgaccounts {
    background-image: url(images/acct.png);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.imgretires {
    background-image: url(images/retires.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.imgedu {
    background-image: url(images/edu.png);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.imgcoverdell {
    background-image: url(images/edus.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}
.imgportfolio {
    background-image: url(images/portfolio.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.imgportfolio {
    background-image: url(images/trustee.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.imgbrokerage {
    background-image: url(images/portfolio.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgjoint {
    background-image: url(images/stock-market.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgcustodial {
    background-image: url(images/custodial.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgbusiness {
    background-image: url(images/corp2.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgllc {
    background-image: url(images/bizz.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgcorporate {
    background-image: url(images/investz.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgcorporate2 {
    background-image: url(images/corpo.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgsep {
    background-image: url(images/stocmarket.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}
.imgsimple {
    background-image: url(images/simple.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgroth {
    background-image: url(images/rothbox.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgira {
    background-image: url(images/marketx.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.img401k {
    background-image: url(images/401kk.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgrollover {
    background-image: url(images/investy.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

/*trusts*/
.imgrevocable {
    background-image: url(images/trust.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgcharitable {
    background-image: url(images/trustee.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgirrLife {
    background-image: url(images/trustInsure.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgcharitable {
    background-image: url(images/charitable.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgrealestate {
    background-image: url(images/realestate.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

/*insurance*/
.imginsurance {
    background-image: url(images/life_insurance.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgvariable {
    background-image: url(images/insure.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgwhole {
    background-image: url(images/whole.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imguniversal {
    background-image: url(images/universal.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgterm {
    background-image: url(images/insurance5.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgsimplified {
    background-image: url(images/ins.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.imgequity {
    background-image: url(images/ins3.jpg);
    width: 100%;
    height: 350px;
    border-radius: 5px;
}



/* dictionary */

#container3 {
    width: 85%;
    margin: auto;
}
.dictionaryLeft{
    float: left;
        text-align: justify;
}
.dictionaryRight {
    float: left;
    padding-top: 55px;
    text-align: justify;
}
.dictionary {
    margin: 5% 13%;
    padding-top: 2px;
}
#dictionary{
    margin-left:4%;
    margin-bottom: 6%;
    padding-top: 1px;
    color: white;
}

#dictionaryLetters {
    margin: 0 auto;
    padding-bottom: 15px;
}

.classA{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classB{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classC{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}
.classD{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classE{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classF{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}
.classG{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classH{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classI{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}
.classI2{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classL{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classM{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}
.classN{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classO{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classP{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}
.classR{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classS{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classT{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}
.classU{
    background-color: lightgray;
    padding: 5%;
    border-radius: 10px;
}
.classV{
    background-color: #78a7e1;
    padding: 5%;
    border-radius: 10px;
}
.classW{
    background-color: #c07cdb;
    padding: 5%;
    border-radius: 10px;
}

/* tutorials */
.imgstocks {
    background-image: url(images/stoxdiv.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgorders {
    background-image: url(images/orders.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgchart{
    background-image: url(images/charting.jpeg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgfinancials{
    background-image: url(images/financials.jpeg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgoptions {
    background-image: url(images/miami3.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
#rgb {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;
}
#rgb2 {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;
    color: white;
}
.imgtwo {
    background-image: url(images/miami3.jpg);
    width: 100%;
    height: auto;
    margin-top: 400px;
    border-radius: 5px;
}
.space {
    color: #000000;
}
#tuts {
    margin-top: 75px;
}


/* financial planning */
#financialPlanning {
    margin-left: 35%;
}
.imgmkt{
    background-image: url("images/markets.jpg");
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgthree {
    background-image: url(images/future.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgfour {
    background-image: url(images/credit.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgfive {
    background-image: url(images/financial-planning.gif);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgsix {
    background-image: url(images/education2.jpeg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgseven {
    background-image: url(images/budget.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgeight {
    background-image: url(images/realestate.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.imgtax {
    background-image: url(images/tax.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.imgcode {
    background-image: url(images/code.jpg);
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.vids {
    width: 350px;
    height: 250px;
}


/* resume */
#resumeimg{
    background-image: url('images/chicago.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btn {
    margin: 20px;
    padding: 20px;
}
.resumes {
    margin-top: 19%;
    margin-left: 42%;
}

.myresume {
    padding-top: 50%;
    margin: 0 auto;
}

/* FAQs*/
.faqs {
    background-image: url(images/faqs.jpg);
    background-size: cover;
    height: 200px;
}

#footer {
    margin-top: 50px;
    margin-bottom: 10px;
    color: white;
    background-image: url(images/uslc2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding-right: 9%;
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
    text-shadow: 2px 2px 4px black;
}

#foot {
    color: white;
}

.spacer {
    margin-top: 50px;
}

/*contact us*/

#contactUs {
    margin-left: 38%;
    margin-top: 5%;
    color: white;
}

.btnSubmit{
    margin-left: 100%;
    padding-top: 10%;
}
#myBtnLogin{
    margin-left: 45%;
}
#social{
    margin-left: 9%;
}
