

.barPortfolio{
    width: 75%;
    margin: 0 auto;
    background-color: black;
}



body {
    margin: 0;
    width: 0;
    width: 100%;
    height: auto;
}
.parallax {
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgone {
    background-image: url(chicagoskyline.jpg);
    width: 100%;
    height: auto;
}
#rgb {
    color: #ff52e9;
    width: 100px;
    height: auto;
}
.imgtwo {
    background-image: url(metals.jpg);
    width: 100%;
    height: auto;
    margin-top: 200px;
    margin-bottom: 10px;
}
.whitesection {
    background-color: #1d1d1d;
    padding: 15px;
    min-height: 900px;
    width: 100%;
}
.content {
    background-color: rbga(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    text-align: center;
    color: #f4f4f4;
    padding-top: 150px;
}
.left {
    text-align: center;
}
