

.barPortfolio{
    width: 75%;
    margin: 0 auto;
    background-color: black;
}



body {
    margin: 0;
    width: 0;
    width: 100%;
    height: auto;
}


.parallax {
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgone {
    background-image: url(metals.jpg);
    width: 100%;
    height: auto;
}
#rgb {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;

}
#rgb2 {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;

}
.imgtwo {
    background-image: url(metals.jpg);
    width: 100%;
    height: auto;
    margin-top: 400px;
   }
.whitesection {
    background-color: #f4f4f4;
    min-height: 500px;
    width: 100%;
}
.content {
    background-color: rbga(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    text-align: center;
    color: #171717;
    padding-top: 20px;
}
.left {
    text-align: center;
}
/*.whitesection2 {*/
    /*background-color: #171717;*/
    /*padding: 15px;*/
    /*min-height: 800px;*/
    /*width: 100%;*/
/*}*/
h2 {
    text-align: center;
    color: white;
}
.space {
    color: #000000;
    margin-left: 33%;
    margin-top: 10px;
    width: 50%;
    height: 100px;
    text-align: justify;
}

p{
    color: #000;
}