
body{
    background-color: black;
    color: azure;
    border-radius: 2%;
    margin-top: 5%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 5%;
}

.items{
    width: 400px;
    margin: 10px;
    padding: 1px;


}

img{
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 20%;

}

p{
    color: black;
    float: left;
    clear: both;
    text-align: justify;

}

