html {
    background-color: #b5b5b5;
}

.items{
    margin: 3%;
    padding: 2%;
    text-align: center;
    width: 100px;
}
img{
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 20%;
}

p{
    color: black;
    clear: both;
    text-align: justify;
}

.texter {
    width: 70%;
    text-align: justify;
    margin-left: 16%;

}

.barPortfolio{
    width: 75%;
    margin: 0 auto;
    background-color: black;
}
.projects {
    margin-left: 7%;
}