
body{
    background-color: black;
    color: azure;
    border-radius: 2%;
    margin-top: 5%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 5%;
}

.items{

    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;

}

img{
    margin: 10px auto;
    width: 250px;
    height: 250px;
    border-radius: 20%;


}

p{
    color: black;
    clear: both;
    text-align: justify;

}

.texter {
    /*width: 300px;*/
    width: 65%;
    margin: 0 auto;
}

.bar{
    width: 90%;
    margin: 0 auto;
}