/*html {*/
    /*background-color: black;*/
/*}*/

.barPortfolio{
    width: 75%;
    margin: 0 auto;
    background-color: black;
}
.container{
    background-color: #121212;
}


body {
    margin: 0;
    width: 0;
    width: 100%;
    height: auto;
    background-color: #aaaaaa;
      }

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.innerParent1{
    height: 200px;
}
.imgstocks {
    background-image: url(stocks.png);
    width: 100%;
    height: 500px;
}
.imgorders {
    background-image: url(orders.jpg);
    width: 100%;
    height: 500px;
}

.imgchart{
    background-image: url(charting.jpeg);
    /*background-repeat: no-repeat;*/
    width: 100%;
    height: 500px;
}

.imgfinancials{
    background-image: url(financials.jpeg);

    width: 100%;
    height: 500px;

}
.imgoptions {
    background-image: url(miami3.jpg);
    width: 100%;
    height: 500px;
}
#rgb {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;

}
#rgb2 {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 200px;

}
.imgtwo {
    background-image: url(miami3.jpg);
    width: 100%;
    height: auto;
    margin-top: 400px;
}
.whitesection {
    background-color: #323232;
    min-height: 500px;
    width: 100%;
}


.content {
    background-color: rbga(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    text-align: center;
    color: #171717;
    padding-top: 20px;
}
/*.left {*/
    /*width: 50%;*/
    /*margin-top: 10px;*/
   /*}*/
/*.right {*/

/*}*/


/*.whitesection2 {*/
/*background-color: #171717;*/
/*padding: 15px;*/
/*min-height: 800px;*/
/*width: 100%;*/
/*}*/
h1 {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}
h4 {
    text-align: center;
    display: inline;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}
.space {
    color: #000000;
    /*font-family: "Bodoni 72";*/

}

p{
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}